body {
  font-family: 'Roboto', sans-serif;
  background-color: #e0eafc; /* Light blue-gray */
  color: #333;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.module-title {
  font-size: 2em;
  color: #448aff; /* Blue accent */
}

.main_field{
    background-color: rgb(171, 196, 197);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;

}

.first{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.second{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.third{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.max_temp{
    display: grid;
  padding: 5px;
}

.add_temp{
    display: grid;
  padding: 5px;
}

.rem_temp{
    display: grid;
  padding: 5px;
}

.min_temp{
    display: grid;
  padding: 5px;
}

.curr_temp{
    display: grid;
  padding: 5px;
}
.controls {
    display: flex;
    justify-content: space-around;
}

button {
  font-size: 1em; /* Reduced size for better layout */
  padding: 8px 12px;
  border: none;
  background-color: #448aff; /* Blue accent */
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px; /* Add space between buttons in a column */
}
